<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>App Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid container">
                <a class="navbar-brand" href="#" th:href="@{/autenticaAdmin}">Biblioteca Central</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>



        <br>
        <br>
        <div class="container">
            <h1>
                <p style="text-align:center;">BIBLIOTECA CENTRAL</p>
            </h1>
            <br>
            <h3>
                <p style="text-align:center;">Bienvenido <span sec:authentication="principal.username"></span></p>
            </h3>

            <br> <br>


        </div>

        <p style="text-align:center;"><img src="https://images.vexels.com/media/users/3/286686/isolated/preview/4058c3884daba4ec6d23de3bd7a7f1b6-libros-de-trazo-de-color-de-estante.png" alt="Logo InternetCtrl"></p>



    <center>
        <a class="btn btn-primary" href="#" role="button" th:href="@{/autenticar}">Iniciar Sesión</a>
         <br> <br>
        <h3>Inicia sesión para ver los Articulos disponibles para reserva inmediata</h3>
    </center>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>
